[submodule "00_document/wiki"]
	path = 00_document/wiki
	url = https://github.com/grandideastudio/jtagulator.wiki.git
[submodule "01_hardware/00_JTAGFinder"]
	path = 01_hardware/00_JTAGFinder
	url = https://github.com/fmaw/JTAGFinder_hw.git
[submodule "02_software/01_jtagulator"]
	path = 02_software/01_jtagulator
	url = https://github.com/fmaw/jtagulator.git
